
    {{#if isAuth}}
<div class="navigation">
    <li><a href="#">QEB</a></li>
    <li class="userName">{{user.nickname}}</li>
</div>
{{#if isAdmin}}
<div class="dropdown hidden">
    <li><a href="/add">Добавить тему</a></li>
    <li><a href="/addQuestion">Добавить вопрос</a></li>
    <li><a href="/questions">Список вопросов</a></li>
    <li class="active"><a href="/card">Выбрать тему</a></li>
    <li><a href="/profile">Профиль</a></li>
    <li><a href="/logout">Выйти</a></li>
</div>
{{else}}
<div class="dropdown hidden">
    <li class="active"><a href="/card">Выбрать тему</a></li>
    <li><a href="/profile">Профиль</a></li>
    <li><a href="/logout">Выйти</a></li>
</div>
{{/if}}
{{else}}
{{/if}}


