<div class="navigation">

    <li><a href="#">QEB</a></li>

    {{#if isAuth}}
        <li class="active"><a href="/card">Выбрать тему</a></li>
        <li><a href="/logout">Выйти</a></li>
        {{else}}
        <li class="active"><a href="/">Главная</a></li>
    {{/if}}
</div>