{{#if cards.length}}
<div class="card_container">
  {{#each cards}}
    <div class="card">
      <div class="card-image">
        <img src="{{img}}" width="350" height="250">
      </div>
      <div class="card_content">
        <span class="card_title">{{title}}</span>
        <p>{{description}}</p>
      </div>
      <div class="card_action">
        <a class="btn" href="/theme/{{id}}">Изучить</a>
        <a class="btn" href="/quiz">Играть</a>
      </div>
    </div>
    {{/each}}
  </div>
{{/if}}

