<div class="container">
        <form action="registration" method="POST">
            <div class="form-control">
                <label for="nickname">Create your nickname</label>
                <input type="text" id="nickname" name="nickname" placeholder="Enter your nickname" class="validate">
            </div>

            
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" class="validate">
            </div>

            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" class="validate">
            </div>

            <div class="form-control">
                <label for="rpassword">Repeat password</label>
                <input type="password " id="rpassword" placeholder="Repeat password" class="validate">
            </div>
            <button class="btn" type="submit">Sign Up</button>
            <small>Have an account already? <a href="/login">Log in</a></small>
        </form>
    </div>