<form action="/theme-edit" method="POST">
    <textarea class="materialize-textarea" name="text">{{card.text}}</textarea>
    <label for="textarea1"></label>
    <input type="hidden" name="id" value="{{card.id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn" type="submit">Сохранить изменения</button>
</form>