<form action="/theme-edit" method="POST">
    <div class="main_container">
        <div class="theme_edit_container">
            <div id="editor-container">{{card.text}}</div>
            <input type="hidden" name="text" value="">
            <input type="hidden" name="id" value="{{card.id}}">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button class="btn edit_theme_save" type="submit">Сохранить изменения</button>
        </div>
    </div>
</form>
<script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
<script src="/editor.js"></script>