@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

.navigation {
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
    top: 0; 
    left: 0; 
    padding: 0.7rem;
    background-color: #141C2C;
}

li {
    list-style-type: none;
    padding: 2rem;    
}

li a {
    color: white; 
    font-size: 20px;
    
}


body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(147,112,219, 0.2);
    color: #141c2c;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}


a {
    color: #2762eb;
    text-decoration: none;
}

.container {
    background-color: #fff;
    border-radius: 3px;
    border: 20px solid #dce7ff;
    width: 500px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.1);
    display: flex;
}

.auth_form {
    border-right: 1px solid #ecf2ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex: 1;
}

.form-control {
    margin: 10px 0;
    width: 100%;
}

label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

input:not([type="checkbox"]) {
    background-color: transparent;
    border: 2px solid #ecf2ff;
    border-radius: 3px;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 15px;
    width: 100%;
}

.checkbox-container a {
    margin-left: auto;
}

.checkbox-container label {
    color: #7a7e8c;
    font-weight: normal;
}

.btn {
    cursor: pointer;
    background-color: #141c2c;
    border: 2px solid #141c2c;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
}

.btn:hover {
    background-color: rgba(255,0,0, 0.5);
}

.btn-ghost {
    background-color: transparent;
    border-color: #ecf2ff;
    color: #141c2c;
}

.btn img {
    margin-right: 5px;
    width: 20px;
}

.features {
    flex: 1.5;
    padding: 40px;
}

.feature {
    position: relative;
    padding-left: 30px;
    margin: 40px 0;
}

.feature i {
    color: #2762eb;
    position: absolute;
    top: 5px;
    left: 0;
}

.feature h3 {
    margin: 0;
}

.feature p {
    font-size: 14px;
    line-height: 1.8;
    margin: 5px 0;
}

.alert {
    border-radius: 10px;
    background-color: rgba(255,0,0, 0.3);
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 3rem;
}

/* Profile */

.profile_section {
    display: flex;
    justify-content: center;
}

img {
    max-width: 500px;
    max-height: 650px; 
}

.profile_container {
    margin: 20px;
}

.profile_form {
    display: flex;
    flex: 1; 
}

.profile_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2em; 
}

.profile_info {
    width: 700px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 2em; 
}

.profile_edit_btn {
    cursor: pointer;
    background-color: #141c2c;
    border: 2px solid #141c2c;
    border-radius: 3px;
    color: #fff;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    width: 50%;
    
}

.profile_edit_btn:hover {
    background-color: rgba(255,0,0, 0.5);
}

.profile_img_btn {
    cursor: pointer;
    background-color: #141c2c;
    border: 2px solid #141c2c;
    border-radius: 3px;
    color: #fff;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    width: 50%;
}


.profile_img_btn:hover {
    background-color: rgba(255,0,0, 0.5);
}

.avatar_upload {
position: relative;
width: 250px;
height: 40px;
background: #4169E1;
border-radius: 10px;
color: #fff;
text-align: center;
}

/* Add Card */

.add_section {
    display: flex;
    justify-content: center;
}

.add_container {
    width: 80%;
}

.add_container h1 {
    text-align: center;
}

.add_container input {
    padding: 10px;
    margin: 5px;
}

.add_container .description {
    padding-bottom: 50px;
}

.add_container label {
    margin: 5px;
}
.add_container button {
    width: 30%;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Cards */

.card {
    display: flex;
    align-items: center;
}

.card_btn {
    cursor: pointer;
    background-color: #141c2c;
    border: 2px solid #141c2c;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    margin: 20px 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 20%;
}

/* Theme */

.theme_container {
    display: flex;
    justify-content: center;
}

.theme {
    text-align: center;
    max-width: 50%; 
}



@media(max-width: 768px) {
    .container {
        flex-direction: column;
    }

    form {
        border-right: 0;
    }
}