@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F2DDC6;
    color: #141c2c;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.main_container {
    position: relative;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.btn_wrapper {
    display: flex;
    justify-content: center;
}

/* Navbar */

.navigation {
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 1em;
    justify-content: space-between;
    top: 0; 
    left: 0; 
    padding: 0.7rem;
    background-color:rgba(143, 139, 102, 0.8);
}

li {
    list-style-type: none;
    padding: 2rem;    
}

li a {
    color: white; 
    font-size: 20px;
    text-decoration: none;
    
}

/* Authentication */

.container {
    background-color: #fff;
    border-radius: 3px;
    border: 20px solid rgba(143, 139, 102, 0.4);
    width: 500px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.1);
    display: flex;
}

.auth_form {
    border-right: 1px solid #ecf2ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex: 1;
}

.form-control {
    width: 100%;
}

.login_label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

.login_input:not([type="checkbox"]) {
    background-color: transparent;
    border: 2px solid #ecf2ff;
    border-radius: 3px;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px 0px;
    width: 100%;
}

.checkbox-container a {
    margin-left: auto;
}

.checkbox-container label {
    color: #7a7e8c;
    font-weight: normal;
}

.btn {
    cursor: pointer;
    background-color: coral;
    border: 2px solid lightcoral;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
}

.btn:hover {
    background-color: lightcoral;
    border: 2px solid lightcoral;

}

/* .btn-ghost {
    background-color: transparent;
    border-color: #ecf2ff;
    color: #141c2c;
}

.btn img {
    margin-right: 5px;
    width: 20px;
}

.features {
    flex: 1.5;
    padding: 40px;
}

.feature {
    position: relative;
    padding-left: 30px;
    margin: 40px 0;
}

.feature i {
    color: #2762eb;
    position: absolute;
    top: 5px;
    left: 0;
}

.feature h3 {
    margin: 0;
}

.feature p {
    font-size: 14px;
    line-height: 1.8;
    margin: 5px 0;
} */

.alert {
    border-radius: 10px;
    background-color: rgba(255,0,0, 0.3);
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 3rem;
}

/* Profile */

.profile_container {
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.profile_form {
    display: flex;
}

.profile_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2em; 
}

.profile_info {
    width: 700px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 2em; 
}

.avatar_upload {
position: relative;
width: 250px;
height: 40px;
background: #4169E1;
border-radius: 10px;
color: #fff;
text-align: center;
}

.profile_edit_btn {
    display: flex;
    align-items: flex-end;
    gap: 1em;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}

.avatar_btn_container {
    width: 500px;
    margin: 0px 2em;
}

.edit_btn_container {
    width: 700px;
    margin: 0px 2em;
}

/* Add Card */

.addQuestion_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}
.add_container {
    width: 90%;
    text-align: center;
    background-color: #FAEBD7;
    padding: 5px;
    margin-bottom: 15px;
}

.input-field {
    margin: 0px 10px;
    padding: 5px;
}
.add_container input {
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 3px;
    font-family: inherit;
    font-size: 14px;
}

.add_container .description {
    padding-bottom: 50px;
}

.add_container label {
    width: 100%;
    display: inline-block;
    font-weight: bold;
    margin: 8px 0px;
    text-align: left;
}
.add_container button {
    width: 25%;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Cards */

.card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%; 
    margin: 0;
}

.card {
    width: 80%;
    background-color: #FAEBD7;
    padding: 15px 10px;
    margin: 20px 0px;
}

.card_title {
    font-size: 2em;
    margin: 20px 0px;
}

.card_content {
    font-size: 1.2em;
}

.card_action {
    display: flex;
    justify-content: center;
}

.card_action a {
    margin: 10px;
}

.card_action a {
    border: 1px solid black;
}

.card_action .btn{
    width: 20%;
}

.card_btn {
    cursor: pointer;
    background-color: #141c2c;
    border: 2px solid #141c2c;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    margin: 20px 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 20%;
}

/* Questions */

.question_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%; 
    margin: 0;
}

.question_card {
    position: relative;
    width: 65%;
    background-color: #FAEBD7;
    padding: 10px 5px;
    margin: 10px 0px;
}


.question_card_title {
    font-size: 2em;
    font-weight: bold;
}
.question_card-content li {
    font-size: 1.5em;
    padding: 0.5em;
    text-align: left;
}


.question_card-content .btn {
    width: 40%;
}

.editQuestion_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
}

/* Theme */

.theme_container {
    display: flex;
    justify-content: center;
}

.theme {
    text-align: center;
    max-width: 50%; 
}

/* Quiz */

.start_quiz_container {
    position: relative;
    display: flex;
    height: 80vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.start_quiz_container .btn {
    font-size: 2em;
    padding: 15px;
}
.quiz {
    position: relative;
    display: flex;
    height: 80vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.quiz_container { 
    position: relative;
    max-height: 80vh;
    width: 800px;
    border-radius: 20px;
    background: #FAEBD7;
}

.quiz_container h2 {
    text-align: center;
    padding: 10px 0px;
}

.quiz_question {
    padding: 1.5rem;
    text-align: center;
    margin: 0;
}

.quiz_btn {
    border: none;
    display: block;
    width: 100%;
    background: coral;
    outline: none;
    font-family: inherit;
    font-size: 1.3rem;
    color: white;
    padding: 1rem;
}

.quiz_options {
    padding: 1rem;
    border: 1px grey;
}

.quiz_input {
    position: relative;
    opacity: 100;
}


.answer {
 color: #333333;
 font-size: 1.5em;
 cursor: pointer;
}

.quiz_btn:hover {
    cursor: pointer;
    background: lightcoral;
}
.quiz_btn:focus {
    cursor: pointer;
    background: lightcoral;
}

.answer_card {
    position: relative;
    width: 100%;
    background-color: #FAEBD7;
    padding: 10px 5px;
    margin: 10px 0px;
}

.answer_card span {
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
}

.answer_card li {
    font-size: 1.2em;
}

.answer_card li:last-child {
    background-color: lightgreen;
}

.quiz_container .btn {
    border-radius: 20px;
}

.hidden {
    display: none;
}


@media(max-width: 768px) {
    .container {
        flex-direction: column;
    }

    form {
        border-right: 0;
    }
}